{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#post}}
            <div class="flex flex-col h-[30rem] border border-black rounded-3xl items-center">
                <div class="flex items-center justify-center gap-8 sm:gap-4 w-[85%] py-6 px-6">
                    <div class="flex gap-2 badge py-7 px-7 font-header md:text-2xl sm:text-sm bg-black text-white">
                        <span><i class="fa-solid fa-hashtag"></i></span>
                        {{#if primary_tag}}
                            <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>                              
                        {{/if}}
                    </div>
                    <div class="badge py-7 px-7 bg-black text-white md:text-2xl sm:text-sm flex gap-2 font-header">
                        <span class=""><i class="fa-regular fa-user"></i></span>
                        {{#primary_author}}
                        <a href="{{url}}">{{name}}</a>
                        {{/primary_author}}
                    </div>
                    <div class="badge badge-outline md:text-2xl sm:text-xs flex gap-2 font-header py-6 px-6">
                        <span class=""><i class="fa-regular fa-calendar"></i></span>
                        <time class="" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    </div>
                    <div class="badge badge-outline md:text-2xl sm:text-sm flex gap-2 font-header py-6 px-6">
                        <span class=""><i class="fa-regular fa-clock"></i></span>
                        <span class="">{{reading_time minute="1 Min Read" minutes="% Min Read"}}</span>
                    </div>
                </div>
                <div class="w-[85%] py-6 px-6 ">
                    <h2 class="text-5xl text-center font-header font-semibold ">{{title}}</h2>
                </div>
            </div>
        <div class="top-[-12rem] relative">
            <div class="w-full flex flex-col items-center justify-center gap-16">
                {{!-- <div class="w-[85%] h-128">
                    <img class="rounded-3xl object-cover w-full h-full" src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg" alt="">
                </div> --}}
                {{#if feature_image}}
                    {{> "post-feature-image"}}
                {{/if}}
                
                {{#if custom_excerpt}}
                    <p class="w-[90%]">{{custom_excerpt}}</p>
                {{/if}}
            </div>
            <div>
            </div>
        </div>
            <article class="gh-article {{post_class}}">
                {{#if feature_image}}
                    <header class="gh-article-header gh-canvas">
                        <h1 class="gh-article-title">{{title}}</h1>
                        {{#if custom_excerpt}}
                            <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                        {{/if}}
                        {{> "post-feature-image"}}
                    </header>
                {{/if}}

                <section class="gh-content gh-canvas">
                    {{content}}
                    {{#unless feature_image}}
                        <header class="gh-article-header">
                            <h1 class="gh-article-title">{{title}}</h1>
                            {{#if custom_excerpt}}
                                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                            {{/if}}
                        </header>
                    {{/unless}}
                    <aside class="gh-article-meta">
                        <div class="gh-article-meta-inner">
                            {{#primary_author}}
                                {{#if profile_image}}
                                    <figure class="gh-author-image">
                                        <img src="{{profile_image}}" alt="{{name}}">
                                    </figure>
                                {{/if}}
                                <div class="gh-article-meta-wrapper">
                                <h4 class="gh-author-name">
                                    <a href="{{url}}">{{name}}</a>
                                </h4>
                            {{/primary_author}}
                            <time class="gh-article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></div>
                            {{#if primary_tag}}
                                <a class="gh-article-tag" href="{{primary_tag.url}}" style="--tag-color: {{primary_tag.accent_color}}">{{primary_tag.name}}</a>
                            {{/if}}
                        </div>
                    </aside>
                </section>

                {{#if comments}}
                    <div class="gh-comments gh-canvas">
                        <h2 class="gh-comments-title">{{comment_count empty="" single="comment" plural="comments"}}</h2>
                        {{comments title="" count=false}}
                    </div>
                {{/if}}

                <footer class="gh-article-footer gh-canvas">
                    <nav class="gh-navigation">
                        <div class="gh-navigation-previous">
                            {{#prev_post}}
                                <a class="gh-navigation-link" href="{{url}}">← Previous</a>
                            {{/prev_post}}
                        </div>

                        <div class="gh-navigation-middle"></div>

                        <div class="gh-navigation-next">
                            {{#next_post}}
                                <a class="gh-navigation-link" href="{{url}}">Next →</a>
                            {{/next_post}}
                        </div>
                    </nav>
                </footer>
            </article>
        {{/post}}
    </div>
</main>